body {
    background-color:#1a1921;
    background-image:url('/assets/background.svg');
    background-size: 100%;
    color:#eee;
}

#page-container {
    padding: 0 100px;
    background-image:url('/assets/page-background.svg');
    background-size: 100%;
    height:100vh;
}

.navbar {
    width:100%;
}

.nav {
    list-style: none;
    margin: auto;
}

.nav > li {
    /*
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    */
    padding:10px;
    font-family: 'Segment14Regular';
}

.nav > li > a {
    color:#ffedc0;
    
    text-decoration: underline;
    font-style:italic;
}

.avatar {
    font-size:64px;
    height:64px;
    text-align: middle;
    border-radius:50%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.width-100 {
    width:100%;
}

.hidden {
    display:none;
}

.flat-btn {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.inline-form {
    display:inline;
}

.inline-code {
    background-color:#eee;
    border-radius:0.5em;
    font-family:monospace;
    padding:2px;
    color:#c22;
}

.width-50 {
    width:50%;
}

.avatar-bio {
    width:64px;
    border-radius:50%;
}

.logo {
    width:50%;
    margin:auto;
}

.logo-container {
    padding: 1em 0em;
    width:100%;
}

.table-header {
    background-image:url("/assets/table-header.svg");
    background-size:100%;
    padding: 2.5em 0em;
    margin-bottom: -3em;
    width:100%;
}

.bio-container {
    margin:0em 4em;
}

.text-center {
    text-align:center;
}

.bio-input {
    background-color:transparent !important;
    border-bottom: 1px solid #8e7b75 !important;
    border-top:none;
    border-left: none;
    border-right: none;
    width:50%;
    height:2em;
    color:#928787 !important;
}

.bio-input:focus {
    outline-width:0;
    border-bottom:1px solid #dd937c
}

.role-input {
    background-color: #1a1921 !important;
    border-bottom: 1px solid #8e7b75 !important;
    border-top:none;
    border-left: none;
    border-right: none;
    height:2em;
    color:#928787 !important;
}

.align-right {
    text-align:right;
}

.bio-update {
    border-radius:10px;
    border:none;
    font-family:'Segment14Regular';
    background-color:#ffedc0;
}

.bio-label {
    font-family:'Segment14Regular';
    color:#ffedc0;
}

.width-25 {
    width:25%;
}

.flexy {
    display:flex;
}
.flexy-item-pad {
    flex: 1 0 auto;
}
.flexy-item {
    flex: 0 1 auto;
}

div.role-input>div {
    background-color: #1a1921 !important;
}

div.role-input>div>div::-webkit-scrollbar {
    display: none;
}

div.role-input>button>div>div>div {
    color:#928787;
}

.width-50 {
    width:50%;
}

.cell {
    height:2em;
}

.role-chip {
    height:2em;
    border-radius:1em;
    padding-left:1em;
    padding-right:0.5em;
    padding-top:0.125em;
    width:fit-content;
}

.role-row {
    /*padding: 0px 0px;*/
    height:2em;

}